.sidebar {
    height: 100vh;
    padding: 1rem;
  }
 
  .sidebar a {
    color: white;
  }
  
 
  .position-absolute.top-0.end-0 {
    position: fixed;
  }
  .pos-info{
    position:relative;
    top: 10px;
    right: 100px;
  }
  .pos-img{
    position:relative;
    top: 10px;
    
  }
  .pad{
    padding-top: 20px;
  }
  
  
  /*make the 3 buttons appear in the same line*/
  .count-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .container {
    position: relative;
    height: 100vh;
  }
  
  .nav-container {
    position: relative;
  }
  
  .logout-btn {
    position: absolute;
    bottom: 0;
    left: 150px;
  }

  
  
  
  